/* 変数宣言 */
$iMaxSize: 375px;
$minPad:600px;
$pMaxSize: 834px;
$sImgSize: 117px;
$mainTextArea: 315px;
$minPc:960px;
$maxWidth: 1000px;

/* Pタグ基本サイズ */
$basicPFsize: 12px;
$basicPFweight: 400;
$basicPFweightH: 800;
$basicPLHight: 16px;

/*Pタグipadサイズ*/
$ipadPFsize: 16px;
$ipadPLHight: 23px;

/* h1タグ */
$h1FSize: 20px;
$h1FSizePad: 30px;
$h1_2FWeight: 800;

/* color collection */
$basicPColor:#483e3e;
$basicPColorL:#676762;
$h1Color: #81a238;
$pointerHColor: red;
$h2Color: #6c4747;
$solidColor: #000;
$generaTColor: #fff;
$footerBColor: #b4aeae;
$lineBackColor:#989595;
$zukanBackColor:#ccc;
$titleColor:#8d8a8a;
$topicBacColor:#f5f4f4;

/* Font collection*/
$h2FSize: 17px;
$h2FSizePad: 22px;
$titleFSize: 15px;

$titleFWei: 500;


$generalLHeight: 22px;

